In [2]:
# import dependencies
import pandas as pd
import os

## Function to convert column headers to current format

In [64]:
def fix_columns(my_frame):
    my_frame.rename(columns= {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 'Stop Time': 'stoptime',
        'Start Station ID': 'start station id', 'Start Station Name': 'start station name', 
        'Start Station Latitude': 'start station latitude', 'Start Station Longitude': 'start station longitude', 
        'End Station ID': 'end station id', 'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude', 
        'End Station Longitude': 'end station longitude', 'Bike ID': 'bikeid', 'User Type': 'usertype', 'Birth Year': 'birth year', 
        'Gender': 'gender'}, inplace=True) 
    print(my_frame.columns)

## 2016 Data
* Capital Titles

#### convert csv files to dataframes

In [3]:
Jan2016_df = pd.read_csv('data/2016/JC-20161-citibike-tripdata.csv')
Feb2016_df = pd.read_csv('data/2016/JC-20162-citibike-tripdata.csv')
Mar2016_df = pd.read_csv('data/2016/JC-20163-citibike-tripdata.csv')
Apr2016_df = pd.read_csv('data/2016/JC-201604-citibike-tripdata.csv')
May2016_df = pd.read_csv('data/2016/JC-201605-citibike-tripdata.csv')
Jun2016_df = pd.read_csv('data/2016/JC-201606-citibike-tripdata.csv')
Jul2016_df = pd.read_csv('data/2016/JC-201607-citibike-tripdata.csv')
Aug2016_df = pd.read_csv('data/2016/JC-201608-citibike-tripdata.csv')
Sep2016_df = pd.read_csv('data/2016/JC-201609-citibike-tripdata.csv')
Oct2016_df = pd.read_csv('data/2016/JC-201610-citibike-tripdata.csv')
Nov2016_df = pd.read_csv('data/2016/JC-201611-citibike-tripdata.csv')
Dec2016_df = pd.read_csv('data/2016/JC-201612-citibike-tripdata.csv')

#### reformat columns

In [67]:
list_2016 = [Jan2016_df, Feb2016_df, Mar2016_df, Apr2016_df, May2016_df, Jun2016_df, Jul2016_df, Aug2016_df, 
    Sep2016_df, Oct2016_df, Nov2016_df, Dec2016_df]

for frame in list_2016:
    fix_columns(frame)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

### concatenate dfs
* into quarters
* full year

In [68]:
Q1_2016 = pd.concat([Jan2016_df, Feb2016_df, Mar2016_df], axis=0)
Q2_2016 = pd.concat([Apr2016_df, May2016_df, Jun2016_df], axis=0)
Q3_2016 = pd.concat([Jul2016_df, Aug2016_df, Sep2016_df], axis=0)
Q4_2016 = pd.concat([Oct2016_df, Nov2016_df, Dec2016_df], axis=0)
all_2016 = pd.concat([Q1_2016, Q2_2016, Q3_2016, Q4_2016], axis=0)
all_2016

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15109,557,2016-12-31 23:10:16,2016-12-31 23:19:33,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24465,Subscriber,1981.0,2
15110,2749,2016-12-31 23:29:39,2017-01-01 00:15:29,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24389,Customer,NaN,0
15111,173,2016-12-31 23:44:37,2016-12-31 23:47:31,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24641,Subscriber,1978.0,1
15112,2424,2016-12-31 23:44:50,2017-01-01 00:25:14,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26219,Subscriber,1960.0,2
15113,2419,2016-12-31 23:44:50,2017-01-01 00:25:10,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,24471,Subscriber,1956.0,1

### load 2016 dataframes into csv

In [81]:
Q1_2016.to_csv('data/for_tableau/q1_2016.csv')
Q2_2016.to_csv('data/for_tableau/q2_2016.csv')
Q3_2016.to_csv('data/for_tableau/q3_2016.csv')
Q4_2016.to_csv('data/for_tableau/q4_2016.csv')
all_2016.to_csv('data/for_tableau/all_2016.csv')

## 2017 Data
* mixed data format
* Q1 Capital Titles
* rest lower case titles

#### convert csv files to dataframes

In [70]:
Jan2017_df = pd.read_csv('data/2017/JC-201701-citibike-tripdata.csv')
Feb2017_df = pd.read_csv('data/2017/JC-201702-citibike-tripdata.csv')
Mar2017_df = pd.read_csv('data/2017/JC-201703-citibike-tripdata.csv')
Apr2017_df = pd.read_csv('data/2017/JC-201704-citibike-tripdata.csv')
May2017_df = pd.read_csv('data/2017/JC-201705-citibike-tripdata.csv')
Jun2017_df = pd.read_csv('data/2017/JC-201706-citibike-tripdata.csv')
Jul2017_df = pd.read_csv('data/2017/JC-201707-citibike-tripdata.csv')
Aug2017_df = pd.read_csv('data/2017/JC-201708-citibike-tripdata.csv')
Sep2017_df = pd.read_csv('data/2017/JC-201709-citibike-tripdata.csv')
Oct2017_df = pd.read_csv('data/2017/JC-201710-citibike-tripdata.csv')
Nov2017_df = pd.read_csv('data/2017/JC-201711-citibike-tripdata.csv')
Dec2017_df = pd.read_csv('data/2017/JC-201712-citibike-tripdata.csv')

#### reformat Q1 columns

In [71]:
list_2017 = [Jan2017_df, Feb2017_df, Mar2017_df]

for frame in list_2017:
    fix_columns(frame)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

### concatenate dfs
* into quarters
* full year

In [82]:
Q1_2017 = pd.concat([Jan2017_df, Feb2017_df, Mar2017_df], axis=0)
Q2_2017 = pd.concat([Apr2017_df, May2017_df, Jun2017_df], axis=0)
Q3_2017 = pd.concat([Jul2017_df, Aug2017_df, Sep2017_df], axis=0)
Q4_2017 = pd.concat([Oct2017_df, Nov2017_df, Dec2017_df], axis=0)
all_2017 = pd.concat([Q1_2017, Q2_2017, Q3_2017, Q4_2017], axis=0)
all_2017

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15893,972,2017-12-31 21:54:12,2017-12-31 22:10:25,3191,Union St,40.718211,-74.083639,3186,Grove St PATH,40.719586,-74.043117,29644,Subscriber,1987.0,2
15894,382,2017-12-31 22:10:18,2017-12-31 22:16:41,3280,Astor Place,40.719282,-74.071262,3268,Lafayette Park,40.713464,-74.062859,31799,Subscriber,1994.0,1
15895,93,2017-12-31 22:55:10,2017-12-31 22:56:43,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,31920,Subscriber,1957.0,1
15896,186,2017-12-31 23:20:54,2017-12-31 23:24:00,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,31925,Subscriber,1964.0,1
15897,422,2017-12-31 23:33:55,2017-12-31 23:40:57,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,31709,Subscriber,1979.0,1

### load 2017 dataframes into csv

In [83]:
Q1_2017.to_csv('data/for_tableau/q1_2017.csv')
Q2_2017.to_csv('data/for_tableau/q2_2017.csv')
Q3_2017.to_csv('data/for_tableau/q3_2017.csv')
Q4_2017.to_csv('data/for_tableau/q4_2017.csv')
all_2017.to_csv('data/for_tableau/all_2017.csv')

## 2018 Data

#### convert csv files to dataframes

In [20]:
Jan2018_df = pd.read_csv('data/2018/JC-201801-citibike-tripdata.csv')
Feb2018_df = pd.read_csv('data/2018/JC-201802-citibike-tripdata.csv')
Mar2018_df = pd.read_csv('data/2018/JC-201803-citibike-tripdata.csv')
Apr2018_df = pd.read_csv('data/2018/JC-201804-citibike-tripdata.csv')
May2018_df = pd.read_csv('data/2018/JC-201805-citibike-tripdata.csv')
Jun2018_df = pd.read_csv('data/2018/JC-201806-citibike-tripdata.csv')
Jul2018_df = pd.read_csv('data/2018/JC-201807-citibike-tripdata.csv')
Aug2018_df = pd.read_csv('data/2018/JC-201808-citibike-tripdata.csv')
Sep2018_df = pd.read_csv('data/2018/JC-201809-citibike-tripdata.csv')
Oct2018_df = pd.read_csv('data/2018/JC-201810-citibike-tripdata.csv')
Nov2018_df = pd.read_csv('data/2018/JC-201811-citibike-tripdata.csv')
Dec2018_df = pd.read_csv('data/2018/JC-201812-citibike-tripdata.csv')

### concatenate dfs
* into quarters
* full year

In [35]:
Q1_2018 = pd.concat([Jan2018_df, Feb2018_df, Mar2018_df], axis=0)
Q2_2018 = pd.concat([Apr2018_df, May2018_df, Jun2018_df], axis=0)
Q3_2018 = pd.concat([Jul2018_df, Aug2018_df, Sep2018_df], axis=0)
Q4_2018 = pd.concat([Oct2018_df, Nov2018_df, Dec2018_df], axis=0)
all_2018 = pd.concat([Q1_2018, Q2_2018, Q3_2018, Q4_2018], axis=0)
all_2018

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20200,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.711130,-74.078900,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
20201,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
20202,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.711130,-74.078900,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
20203,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.711130,-74.078900,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
20204,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.711130,-74.078900,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

### load 2018 dataframes into csv

In [84]:
Q1_2018.to_csv('data/for_tableau/q1_2018.csv')
Q2_2018.to_csv('data/for_tableau/q2_2018.csv')
Q3_2018.to_csv('data/for_tableau/q3_2018.csv')
Q4_2018.to_csv('data/for_tableau/q4_2018.csv')
all_2018.to_csv('data/for_tableau/all_2018.csv')

## 2019

#### convert csv files to dataframes

In [22]:
Jan2019_df = pd.read_csv('data/2019/JC-201901-citibike-tripdata.csv')
Feb2019_df = pd.read_csv('data/2019/JC-201902-citibike-tripdata.csv')
Mar2019_df = pd.read_csv('data/2019/JC-201903-citibike-tripdata.csv')
Apr2019_df = pd.read_csv('data/2019/JC-201904-citibike-tripdata.csv')
May2019_df = pd.read_csv('data/2019/JC-201905-citibike-tripdata.csv')
Jun2019_df = pd.read_csv('data/2019/JC-201906-citibike-tripdata.csv')
Jul2019_df = pd.read_csv('data/2019/JC-201907-citibike-tripdata.csv')
Aug2019_df = pd.read_csv('data/2019/JC-201908-citibike-tripdata.csv')
Sep2019_df = pd.read_csv('data/2019/JC-201909-citibike-tripdata.csv')
Oct2019_df = pd.read_csv('data/2019/JC-201910-citibike-tripdata.csv')
Nov2019_df = pd.read_csv('data/2019/JC-201911-citibike-tripdata.csv')
Dec2019_df = pd.read_csv('data/2019/JC-201912-citibike-tripdata.csv')

### concatenate dfs
* into quarters
* full year

In [41]:
Q1_2019 = pd.concat([Jan2019_df, Feb2019_df, Mar2019_df], axis=0)
Q2_2019 = pd.concat([Apr2019_df, May2019_df, Jun2019_df], axis=0)
Q3_2019 = pd.concat([Jul2019_df, Aug2019_df, Sep2019_df], axis=0)
Q4_2019 = pd.concat([Oct2019_df, Nov2019_df, Dec2019_df], axis=0)
all_2019 = pd.concat([Q1_2019, Q2_2019, Q3_2019, Q4_2019], axis=0)
all_2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19723,283,2019-12-31 23:12:18.5480,2019-12-31 23:17:01.8740,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,1
19724,267,2019-12-31 23:19:03.5840,2019-12-31 23:23:30.6640,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,1
19725,379,2019-12-31 23:19:06.5830,2019-12-31 23:25:25.7970,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717733,-74.043845,26276,Subscriber,1984,1
19726,188,2019-12-31 23:24:00.2630,2019-12-31 23:27:09.0400,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,1
19727,326,2019-12-31 23:45:20.9780,2019-12-31 23:50:47.7490,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,1

### load 2019 dataframes into csv

In [85]:
Q1_2019.to_csv('data/for_tableau/q1_2019.csv')
Q2_2019.to_csv('data/for_tableau/q2_2019.csv')
Q3_2019.to_csv('data/for_tableau/q3_2019.csv')
Q4_2019.to_csv('data/for_tableau/q4_2019.csv')
all_2019.to_csv('data/for_tableau/all_2019.csv')

## 2020

#### convert csv files to dataframes

In [24]:
Jan2020_df = pd.read_csv('data/2020/JC-202001-citibike-tripdata.csv')
Feb2020_df = pd.read_csv('data/2020/JC-202002-citibike-tripdata.csv')
Mar2020_df = pd.read_csv('data/2020/JC-202003-citibike-tripdata.csv')
Apr2020_df = pd.read_csv('data/2020/JC-202004-citibike-tripdata.csv')
May2020_df = pd.read_csv('data/2020/JC-202005-citibike-tripdata.csv')
Jun2020_df = pd.read_csv('data/2020/JC-202006-citibike-tripdata.csv')
Jul2020_df = pd.read_csv('data/2020/JC-202007-citibike-tripdata.csv')
Aug2020_df = pd.read_csv('data/2020/JC-202008-citibike-tripdata.csv')
Sep2020_df = pd.read_csv('data/2020/JC-202009-citibike-tripdata.csv')
Oct2020_df = pd.read_csv('data/2020/JC-202010-citibike-tripdata.csv')
Nov2020_df = pd.read_csv('data/2020/JC-202011-citibike-tripdata.csv')
Dec2020_df = pd.read_csv('data/2020/JC-202012-citibike-tripdata.csv')

### concatenate dfs
* into quarters
* full year

In [37]:
Q1_2020 = pd.concat([Jan2020_df, Feb2020_df, Mar2020_df], axis=0)
Q2_2020 = pd.concat([Apr2020_df, May2020_df, Jun2020_df], axis=0)
Q3_2020 = pd.concat([Jul2020_df, Aug2020_df, Sep2020_df], axis=0)
Q4_2020 = pd.concat([Oct2020_df, Nov2020_df, Dec2020_df], axis=0)
all_2020 = pd.concat([Q1_2020, Q2_2020, Q3_2020, Q4_2020], axis=0)
all_2020

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

### load 2020 dataframes into csv

In [86]:
Q1_2020.to_csv('data/for_tableau/q1_2020.csv')
Q2_2020.to_csv('data/for_tableau/q2_2020.csv')
Q3_2020.to_csv('data/for_tableau/q3_2020.csv')
Q4_2020.to_csv('data/for_tableau/q4_2020.csv')
all_2020.to_csv('data/for_tableau/all_2020.csv')

## 2016 to 2020 full data

In [87]:
baker_set_df = pd.concat([all_2016, all_2017, all_2018, all_2019, all_2020], axis=0)
baker_set_df.to_csv('data/for_tableau/baker_set1620.csv')

## SEASONS

### into seasons starting with spring 2016

In [73]:
spr_2016 = pd.concat([Mar2016_df, Apr2016_df, May2016_df], axis=0)
sum_2016 = pd.concat([Jun2016_df, Jul2016_df, Aug2016_df], axis=0)
fal_2016 = pd.concat([Sep2016_df, Oct2016_df, Nov2016_df], axis=0)
win_2016_17 = pd.concat([Dec2016_df, Jan2017_df, Feb2017_df], axis=0)
spr_2017 = pd.concat([Mar2017_df, Apr2017_df, May2017_df], axis=0)
sum_2017 = pd.concat([Jun2017_df, Jul2017_df, Aug2017_df], axis=0)
fal_2017 = pd.concat([Sep2017_df, Oct2017_df, Nov2017_df], axis=0)
win_2017_18 = pd.concat([Dec2017_df, Jan2018_df, Feb2018_df], axis=0)
spr_2018 = pd.concat([Mar2018_df, Apr2018_df, May2018_df], axis=0)
sum_2018 = pd.concat([Jun2018_df, Jul2018_df, Aug2018_df], axis=0)
fal_2018 = pd.concat([Sep2018_df, Oct2018_df, Nov2018_df], axis=0)
win_2018_19 = pd.concat([Dec2018_df, Jan2019_df, Feb2019_df], axis=0)
spr_2019 = pd.concat([Mar2019_df, Apr2019_df, May2019_df], axis=0)
sum_2019 = pd.concat([Jun2019_df, Jul2019_df, Aug2019_df], axis=0)
fal_2019 = pd.concat([Sep2019_df, Oct2019_df, Nov2019_df], axis=0)
win_2019_20 = pd.concat([Dec2019_df, Jan2020_df, Feb2020_df], axis=0)