In [2]:
# import dependencies
import pandas as pd
import os

## 2016 Data

#### convert csv files to dataframes

In [3]:
Jan2016_df = pd.read_csv('data/2016/JC-20161-citibike-tripdata.csv')
Feb2016_df = pd.read_csv('data/2016/JC-20162-citibike-tripdata.csv')
Mar2016_df = pd.read_csv('data/2016/JC-20163-citibike-tripdata.csv')
Apr2016_df = pd.read_csv('data/2016/JC-201604-citibike-tripdata.csv')
May2016_df = pd.read_csv('data/2016/JC-201605-citibike-tripdata.csv')
Jun2016_df = pd.read_csv('data/2016/JC-201606-citibike-tripdata.csv')
Jul2016_df = pd.read_csv('data/2016/JC-201607-citibike-tripdata.csv')
Aug2016_df = pd.read_csv('data/2016/JC-201608-citibike-tripdata.csv')
Sep2016_df = pd.read_csv('data/2016/JC-201609-citibike-tripdata.csv')
Oct2016_df = pd.read_csv('data/2016/JC-201610-citibike-tripdata.csv')
Nov2016_df = pd.read_csv('data/2016/JC-201611-citibike-tripdata.csv')
Dec2016_df = pd.read_csv('data/2016/JC-201612-citibike-tripdata.csv')

#### check dataframes

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,361,2016-02-01 00:31:18,2016-02-01 00:37:19,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24393,Subscriber,1975.0,1
1,297,2016-02-01 01:55:05,2016-02-01 02:00:02,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,24394,Subscriber,1985.0,2
2,1155,2016-02-01 02:40:05,2016-02-01 02:59:20,3183,Exchange Place,40.716247,-74.033459,3210,Pershing Field,40.742677,-74.051789,24676,Subscriber,1976.0,1
3,1769,2016-02-01 05:11:28,2016-02-01 05:40:58,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24700,Subscriber,1974.0,2
4,935,2016-02-01 05:48:24,2016-02-01 06:03:59,3203,Hamilton Park,40.727596,-74.044247,3214,Essex Light Rail,40.712774,-74.036486,24639,Subscriber,1974.0,2

### concatenate dfs

* Into quarters & then full year

In [7]:
Q1_2016 = pd.concat([Jan2016_df, Feb2016_df, Mar2016_df], axis=0)
Q1_2016

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13506,2120,2016-03-31 23:26:24,2016-04-01 00:01:44,3184,Paulus Hook,40.714145,-74.033552,3214,Essex Light Rail,40.712774,-74.036486,24711,Subscriber,1984.0,2
13507,75,2016-03-31 23:29:28,2016-03-31 23:30:44,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,24692,Subscriber,1990.0,1
13508,412,2016-03-31 23:35:36,2016-03-31 23:42:29,3203,Hamilton Park,40.727596,-74.044247,3187,Warren St,40.721124,-74.038051,24651,Subscriber,1991.0,1
13509,152,2016-03-31 23:39:15,2016-03-31 23:41:48,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24640,Subscriber,1982.0,1
13510,269,2016-03-31 23:57:32,2016-04-01 00:02:01,3187,Warren St,40.721124,-74.038051,3202,Newport PATH,40.727224,-74.033759,24461,Subscriber,1980.0,1

In [8]:
Q2_2016 = pd.concat([Apr2016_df, May2016_df, Jun2016_df], axis=0)
Q2_2016

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,2084,2016-04-01 00:16:13,2016-04-01 00:50:58,3203,Hamilton Park,40.727596,-74.044247,3209,Brunswick St,40.724176,-74.050656,24500,Subscriber,1979.0,1
1,324,2016-04-01 00:32:48,2016-04-01 00:38:13,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24475,Subscriber,1954.0,1
2,387,2016-04-01 02:00:33,2016-04-01 02:07:00,3220,5 Corners Library,40.734961,-74.059503,3215,Central Ave,40.746730,-74.049251,24503,Subscriber,1975.0,1
3,140,2016-04-01 02:11:43,2016-04-01 02:14:03,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,24446,Subscriber,1981.0,1
4,142,2016-04-01 02:18:01,2016-04-01 02:20:23,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,24446,Subscriber,1981.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23942,183,2016-06-30 23:37:24,2016-06-30 23:40:27,3202,Newport PATH,40.727224,-74.033759,3187,Warren St,40.721124,-74.038051,24548,Subscriber,1978.0,1
23943,475,2016-06-30 23:38:50,2016-06-30 23:46:46,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,24450,Subscriber,1990.0,1
23944,246,2016-06-30 23:39:18,2016-06-30 23:43:25,3220,5 Corners Library,40.734961,-74.059503,3207,Oakland Ave,40.737604,-74.052478,24627,Subscriber,1954.0,1
23945,738,2016-06-30 23:39:41,2016-06-30 23:51:59,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,24654,Subscriber,1964.0,1
23946,298,2016-06-30 23:52:12,2016-06-30 23:57:11,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,24722,Subscriber,1981.0,1

In [9]:
Q3_2016 = pd.concat([Jul2016_df, Aug2016_df, Sep2016_df], axis=0)
Q3_2016

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,964,2016-07-01 00:06:09,2016-07-01 00:22:14,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,24706,Subscriber,1987.0,1
1,472,2016-07-01 00:06:44,2016-07-01 00:14:37,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,24504,Subscriber,1981.0,2
2,565,2016-07-01 00:10:39,2016-07-01 00:20:05,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24655,Subscriber,1990.0,1
3,413,2016-07-01 00:17:22,2016-07-01 00:24:15,3195,Sip Ave,40.730743,-74.063784,3209,Brunswick St,40.724176,-74.050656,24446,Subscriber,1983.0,1
4,436,2016-07-01 00:37:31,2016-07-01 00:44:48,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24408,Subscriber,1988.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33420,463,2016-09-30 23:23:17,2016-09-30 23:31:00,3206,Hilltop,40.731169,-74.057574,3207,Oakland Ave,40.737604,-74.052478,26253,Subscriber,1978.0,2
33421,207,2016-09-30 23:26:20,2016-09-30 23:29:48,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,26170,Subscriber,1980.0,1
33422,204,2016-09-30 23:40:56,2016-09-30 23:44:20,3276,Marin Light Rail,40.714584,-74.042817,3213,Van Vorst Park,40.718489,-74.047727,24699,Subscriber,1986.0,1
33423,218,2016-09-30 23:51:17,2016-09-30 23:54:55,3195,Sip Ave,40.730743,-74.063784,3225,Baldwin at Montgomery,40.723659,-74.064194,24587,Subscriber,1978.0,2
33424,232,2016-09-30 23:51:21,2016-09-30 23:55:14,3202,Newport PATH,40.727224,-74.033759,3275,Columbus Drive,40.718355,-74.038914,24464,Subscriber,1990.0,1

In [10]:
Q4_2016 = pd.concat([Oct2016_df, Nov2016_df, Dec2016_df], axis=0)
Q4_2016

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,183,2016-10-01 00:00:38,2016-10-01 00:03:41,3272,Jersey & 3rd,40.723332,-74.045953,3203,Hamilton Park,40.727596,-74.044247,24510,Subscriber,1968.0,1
1,379,2016-10-01 00:04:57,2016-10-01 00:11:17,3273,Manila & 1st,40.721651,-74.042884,3272,Jersey & 3rd,40.723332,-74.045953,26152,Subscriber,1987.0,1
2,414,2016-10-01 00:05:18,2016-10-01 00:12:13,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,26213,Subscriber,NaN,0
3,2411,2016-10-01 00:15:23,2016-10-01 00:55:35,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26278,Subscriber,1975.0,1
4,170,2016-10-01 00:21:25,2016-10-01 00:24:16,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,26152,Subscriber,1990.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15109,557,2016-12-31 23:10:16,2016-12-31 23:19:33,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24465,Subscriber,1981.0,2
15110,2749,2016-12-31 23:29:39,2017-01-01 00:15:29,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24389,Customer,NaN,0
15111,173,2016-12-31 23:44:37,2016-12-31 23:47:31,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24641,Subscriber,1978.0,1
15112,2424,2016-12-31 23:44:50,2017-01-01 00:25:14,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26219,Subscriber,1960.0,2
15113,2419,2016-12-31 23:44:50,2017-01-01 00:25:10,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,24471,Subscriber,1956.0,1

In [11]:
all_2016 = pd.concat([Q1_2016, Q2_2016, Q3_2016, Q4_2016], axis=0)
all_2016

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15109,557,2016-12-31 23:10:16,2016-12-31 23:19:33,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24465,Subscriber,1981.0,2
15110,2749,2016-12-31 23:29:39,2017-01-01 00:15:29,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24389,Customer,NaN,0
15111,173,2016-12-31 23:44:37,2016-12-31 23:47:31,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24641,Subscriber,1978.0,1
15112,2424,2016-12-31 23:44:50,2017-01-01 00:25:14,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26219,Subscriber,1960.0,2
15113,2419,2016-12-31 23:44:50,2017-01-01 00:25:10,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,24471,Subscriber,1956.0,1